body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;

}
.loginbox {
    width: 320px;
    height: 420px;
    background-color:rgba(0, 0, 0, 0.8);
    color: #fff;
    left: 50%;
    top: 50%;
     position: absolute; 
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
.avatarbox{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%,0%) ;
    padding: 25px;
    background: #f00;
    overflow: hidden;
    box-sizing: border-box;
}
.avatarbox img
{
    width: 100%;

}
h1{
    margin:0;
    text-align: center;
    padding:0 0 20px;
    font-size: 22px;

}
.formbox {
  width: 100%;  
}
.formbox p{
    margin: 0;
    font-weight: bold;
}
.formbox input{
    width: 100%;
    margin-bottom: 20px;
}
.formbox input[type="text"], formbox input[type="password"]{
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color:#fff ;
    font-size: 15px;
}
.formbox input[type="text"]:focus,
.formbox input[type="password"]:focus
{
    border-bottom: #f00;
}
.formbox input[type="submit"]
{
  border: 0; 
  outline:  0;
  background: #f00;
  height: 40px;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  
}
.formbox input[type="submit"]:hover{
    cursor: pointer;
    background: #fff;
    color: #000;

}
.formbox a
{
    text-decoration: none;
    font-size:12px ;
    line-height: 20px;
    color: darkgray;

}
.formbox a:hover{
 color: #f00;   
}


