<!DOCTYPE html>

{% block title %}Login{% endblock %}
{% block body %}

    <h3>Login Here</h3>
    <form action="{% url 'login' %}" method="POST" novalidate>
        {% csrf_token %}

        {{form.as_p}}

        <p><input  type="submit" value="Login"></p>

    </form>
    <ul>
        <li><a href="{% url 'social:begin' 'facebook' %}">Signin With Facebook</a></li>
        <li><a href="{% url 'social:begin' 'github' %}">Signin With Github</a></li>
        <li><a href="{% url 'social:begin' 'linkedin-oauth2' %}">Signin With Linkedin</a></li>
        <li><a href="{% url 'social:begin' 'google-oauth2' %}">Signin With Google</a></li>



    </ul>
    
{% endblock %}